@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@layer components{
    .btn{
        @apply rounded-md px-4 py-3 bg-gradient-to-r from-blue-300 via-blue-400 to-blue-500 text-white hover:shadow-lg;
    }
}